@font-face {
  font-family: "Caskaydia Cove";
  src: url("fonts/CaskaydiaCoveNerdFont-Regular.ttf");
}

.test {
  background-color: indigo;
  color: white;
}

.wrapped {
  background-color: black;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Caskaydia Cove";
}

.back {
  background-color: #c9cfdd;
}

.horizontal-container {
  height: calc(100vh - 10px);
  margin: 5px;
  display: flex;
  flex-direction: line;
}

.vertical-container {
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.side-bar {
  min-width: 200px;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar-main {
  height: calc(100vh - 22px - 200px);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.title {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1px;
}

.trace-container {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.trace-container::-webkit-scrollbar {
  width: 5px;
}

.trace-container::-webkit-scrollbar-thumb { /* Foreground */
  background: black;
}

.trace-container::-webkit-scrollbar-track { /* Background */
  background: #c9cfdd;
}

.trace {
  display: flex;
  flex-direction: line;
  justify-content: space-between;
  border: 1px solid gray;
  margin: 2px;
  background-color: white;
}

.trace .name {
  padding: 0px 4px;
  font-size: 2rem;
  background-color: darkgreen;
  color: white;
}

.trace .status {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.trace .separator {
  font-size: 2rem;
}

.trace .buttons {
  display: flex;
  flex-direction: line;
  flex-wrap: wrap;
  width: 50px;
}

button {
  background-color: white;
  border: 1px solid gray;
  margin: auto;
  padding: 1px 3px;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: gray;
}

.trace .buttons button {
  width: 25px;
  padding-right: 0.5rem;
}

.side-bar-log {
  border: 2px solid black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.log-space {
  flex: 1;
  font-size: 0.7rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
  
  overflow: hidden;
}

.log-space p {
  padding: 0px 2px;
}

.info {
}

.warning {
  background-color: khaki;
}

.error {
  background-color: lightcoral;
}


.graph-space {
  width: calc(100vw - 23px - 200px);        /* total - margins and paddings - other elements */
  min-height: calc(100vh - 27px - 32px);
  height: calc(100vh - 27px - 32px);

  border: 2px solid black;
  padding: 2px;
}

.graph-space .placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.lower-bar {
  display: flex;
  flex-direction: line;
  justify-content: space-between;
  border: 2px solid black;

  margin: 5px 0px;
  min-height: 32px;
  height: 32px;
}

.lower-bar button {
  border: unset;
  border-right: 2px solid black;
  
  height: 32px;
  font-size: 1.5rem;
  width: 3rem;
  padding-right: 0.75rem;

  text-align: center;
}

.lower-bar > div:nth-child(2) > button:first-child {
  border-left: 2px solid black;
}

.no-offset {
  padding: 1px 3px !important;
}

.lower-bar .status {
  display: flex;
  flex-direction: column;

  border-left: 2px solid black;
}

.lower-bar .status p {
  flex: 1;
  font-size: 0.75rem;
  width: 6rem;
  text-align: center;

  background-color: white;
}

.lower-bar .status p:first-child {
  border-bottom: 2px solid black;
}


