// Kanagawa colorscheme for the helix editor
$seaFoam       : #C7CCD1;
$fujiWhite     : #DCD7BA;
$oldWhite      : #C8C093;
$sumiInk0      : #16161D;
$sumiInk1      : #1F1F28;
$sumiInk2      : #2A2A37;
$sumiInk3      : #363646;
$sumiInk4      : #54546D;
$waveBlue1     : #223249;
$waveBlue2     : #2D4F67;
$winterGreen   : #2B3328;
$winterYellow  : #49443C;
$winterRed     : #43242B;
$winterBlue    : #252535;
$autumnGreen   : #76946A;
$autumnRed     : #C34043;
$autumnYellow  : #DCA561;
$samuraiRed    : #E82424;
$roninYellow   : #FF9E3B;
$waveAqua1     : #6A9589;
$dragonBlue    : #658594;
$fujiGray      : #727169;
$springViolet1 : #938AA9;
$oniViolet     : #957FB8;
$crystalBlue   : #7E9CD8;
$springViolet2 : #9CABCA;
$springBlue    : #7FB4CA;
$lightBlue     : #A3D4D5;
$waveAqua2     : #7AA89F;
$springGreen   : #98BB6C;
$boatYellow1   : #938056;
$boatYellow2   : #C0A36E;
$carpYellow    : #E6C384;
$sakuraPink    : #D27E99;
$waveRed       : #E46876;
$peachRed      : #FF5D62;
$surimiOrange  : #FFA066;
$katanaGray    : #717C7C;

$hard_back: $sumiInk4;
$main_back: $sumiInk2;
$text: $fujiWhite;
$border: $sumiInk0;
$title: $carpYellow;
$scroll_back: $main_back;
$scroll_fore: $carpYellow;
$elements_back: $sumiInk1;
$trace_name: $sumiInk1;
$button_hover: $sumiInk2;
$button_active: $sumiInk4;
$warning_back: $winterYellow;
$error_back: $winterRed;

@font-face {
  font-family: "Caskaydia Cove";
  src: url("fonts/CaskaydiaCoveNerdFont-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Caskaydia Cove";
  color: $text;
}

body {
  background-color: $hard-back;
}

.back {
  background-color: $main_back;
}

.horizontal-container {
  height: calc(100vh - 10px);
  margin: 5px;
  display: flex;
  flex-direction: line;
}

.vertical-container {
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.side-bar {
  min-width: 200px;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar-main {
  height: calc(100vh - 22px - 200px);
  border: 2px solid $border;        /* black */
  display: flex;
  flex-direction: column;
}

.title {
  background-color: $border;        /* black */
  color: $title;    /* white */
  text-align: center;
  padding: 1px;
}

.side-container {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.side-container::-webkit-scrollbar {
  width: 5px;
}

.side-container::-webkit-scrollbar-thumb { /* Foreground */
  background: $scroll_fore;        /* black */
}

.side-container::-webkit-scrollbar-track { /* Background */
  background: $scroll_back;
}

.trace {
  display: flex;
  flex-direction: line;
  justify-content: space-between;
  border: 1px solid $border;
  margin: 2px;
  background-color: $elements_back;    /* white */
}

.trace .name {
  padding: 0px 4px;
  font-size: 2rem;
  color: $trace_name;    /* white */
}

.trace .status {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.trace .separator {
  font-size: 2rem;
}

.trace .buttons {
  display: flex;
  flex-direction: line;
  flex-wrap: wrap;
  width: 50px;
}

button {
  background-color: $elements_back;    /* white */
  border: 1px solid $border;
  margin: auto;
  padding: 1px 3px;
}

button:hover {
  background-color: $button_hover;
}

button:active {
  background-color: $button_active;
}

.trace .buttons button {
  width: 25px;
  padding-right: 0.5rem;
}

.side-bar-log {
  border: 2px solid $border;        /* black */
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.log-space {
  flex: 1;
  font-size: 0.7rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
  
  overflow: hidden;
}

.log-space p {
  padding: 0px 2px;
}

.info {
}

.warning {
  background-color: $warning_back;
}

.error {
  background-color: $error_back;
}


.graph-space {
  width: calc(100vw - 23px - 200px);        /* total - margins and paddings - other elements */
  min-height: calc(100vh - 27px - 32px);
  height: calc(100vh - 27px - 32px);

  border: 2px solid $border;        /* black */
  padding: 2px;
}

.graph-space .placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.lower-bar {
  display: flex;
  flex-direction: line;
  justify-content: space-between;
  border: 2px solid $border;        /* black */

  margin: 5px 0px;
  min-height: 32px;
  height: 32px;
}

.lower-bar button {
  border: unset;
  border-right: 2px solid $border;        /* black */
  
  height: 32px;
  font-size: 1.5rem;
  width: 3rem;
  padding-right: 0.75rem;

  text-align: center;
}

.lower-bar > div:nth-child(2) > button:first-child {
  border-left: 2px solid $border;        /* black */
}

.no-offset {
  padding: 1px 3px !important;
}

.lower-bar .status {
  display: flex;
  flex-direction: column;

  border-left: 2px solid $border;        /* black */
}

.lower-bar .status p {
  flex: 1;
  font-size: 0.75rem;
  width: 6rem;
  text-align: center;

  background-color: $elements_back;    /* white */
}

.lower-bar .status p:first-child {
  border-bottom: 2px solid $border;        /* black */
}


