@font-face {
  font-family: "Caskaydia Cove";
  src: url("fonts/CaskaydiaCoveNerdFont-Regular.ttf");
}

.test {
  background-color: indigo;
  color: white;
}

.wrapped {
  background-color: black;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Caskaydia Cove";
}

.horizontal-container {
  height: calc(100vh - 10px);
  margin: 5px;
  display: flex;
  flex-direction: line;
}

.vertical-container {
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.lower-bar {
  margin-top: 5px;
  min-height: 32px;
  height: 32px;
  background-color: lightgreen;
}

.side-bar {
  min-width: 200px;
  width: 200px;
  // background-color: lightblue;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar-main {
  height: calc(100vh - 22px - 200px);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  // background-color: orchid;
  // overflow: hidden;
}

.title {
  background-color: black;
  color: white;
  text-align: center;
}

.trace-container {
  flex: 1;
  overflow: hidden;
}

.trace-paging {
  display: flex;
  flex-direction: line;
  justify-content: space-between;

  border-top: 2px solid black;
  padding: 3px;
}

.trace {
  display: flex;
  flex-direction: line;
  justify-content: space-between;
  border: 1px solid gray;
  margin: 2px;
  background-color: white;
}

.trace .name {
  margin: 0px 2px;
  font-size: 2rem;
  color: darkgreen;
}

.trace .status {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.trace .separator {
  font-size: 2rem;
}

.trace .buttons {
  display: flex;
  flex-direction: column;
}

button {
  background-color: white;
  border: 1px solid gray;
  margin: auto;
  padding: 1px 3px;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: gray;
}

.trace .buttons button {
  width: 90px;
  text-align: left;
}

.side-bar-log {
  border: 2px solid black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.log-space {
  flex: 1;
  padding: 2px;
  margin-top: 5px;
  font-size: 0.7rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
  
  overflow: hidden;
}

.graph-space {
  width: calc(100vw - 15px - 200px);
  min-height: calc(100vh - 15px - 32px);
  height: calc(100vh - 15px - 32px);
  background-color: lightgray;
}
